@media print {
    /* All your print styles go here */
    body {
        background: white !important;
        border: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .main-content {
        padding: 0 !important;
        overflow: hidden;
        display: block;
        flex-grow: initial;
        margin: 0;
    }

    .editor, .sidebar {
        display: none !important;
    }

    .previewContainer {
        width: 100% !important;
        border: none !important;
        background: white;
        height: auto !important;
        margin: 0 !important;
        page-break-inside: avoid;
    }

    .previewContainer > * {
        page-break-inside: avoid;
    }

    @page {
        margin: 24px 0;
    }
}