@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Noto+Sans:wght@300;400;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#previewContent {
    --fontScale: 1;
    --lineHeightScale: 1;
    --paddingScale: 1;

    font-size: calc(16px * var(--fontScale));
    line-height: calc(1.5 * var(--lineHeightScale));
    padding: calc(10px * var(--paddingScale));
}


@media print {
    /* All your print styles go here */
    .editor,
    .sidebar {
        display: none !important;
    }

    body {
        background: white !important;
    }

    #previewContent {
        width: 100% !important;
        border:none !important;
        background:white;
        height: auto !important;
        margin:0 !important;
    }

    .main-content {
        padding: 0 !important;
        overflow: hidden;
        display: block;
        flex-grow: initial;
    }
}